In [1]:
import sqlite3 as sql

In [2]:
conn = sql.connect("Thea.db")
cur = conn.cursor()

In [3]:
cur.execute("SELECT name FROM sqlite_schema WHERE type ='table' AND name NOT LIKE 'sqlite_%';")
cur.fetchall()

[]

In [4]:
cur.execute("CREATE TABLE color_table (Red varchar(55), Orange varchar(55), Yellow varchar(55), PRIMARY KEY (Red));")

In [5]:
cur.execute('INSERT INTO color_table VALUES ("Green", "Blue", "Purple");')

In [6]:
cur.execute("SELECT * FROM color_table;")
cur.fetchall()

[('Green', 'Blue', 'Purple')]

In [7]:
values = ["black", "brown", "white"]
cur.execute('INSERT INTO color_table VALUES (?, ?, ?);', values)

In [8]:
cur.execute("SELECT * FROM color_table;")
cur.fetchall()

[('Green', 'Blue', 'Purple'), ('black', 'brown', 'white')]

In [9]:
conn.commit()
conn.close()